alias srcrc='source ~/.bash_profile'
alias shutupvim='rm -v ~/tmp/*.sw* /var/tmp/*.sw*'

# Bash Candy
alias l='ls -lahG'

# Git
alias gst='git status'
alias g='git'
alias gnp='git --no-pager'
alias gl='gnp l --oneline -10'
alias gsh='gnp show'
alias gwipbase='git add . && git commit -m WIP && git pull --rebase origin master'

# do git rm on files that have already been deleted or renamed (still shows as deleted)
alias grm='gst | grep "deleted:" | sed -E 's/[[:space:]]*deleted:[[:space:]]+//' | xargs git rm'

# Convert ERB template to HAML
alias e2haml='html2haml -e --unix-newlines'

# Postgres
alias pgtables='psql -f ~/dotsync/sql/tablenames.sql'
alias pgtablesizes='psql -f ~/dotsync/sql/tablesizes.sql'

alias fbcc='cd ~/workspace/fbcc'
# Kill Unicorn processes
UNIPIDS="kill \$(ps aux | grep [u]nicorn | awk '{print \$2}')"
alias unikill='eval $UNIPIDS'


