function vimdots() {
  vim ~/dotsync/$1
}

function _vimdots_completion() {
  local cur
  COMPREPLY=()
  cur="${COMP_WORDS[COMP_CWORD]}"
  local targets=$(for t in `ls -m1 ~/dotsync/*.sh | rev | cut -d'/' -f1 | rev`; do echo ${t}; done)
  COMPREPLY=($(compgen -W "${targets}" $cur))
}
complete -F _vimdots_completion vimdots

# gcd - Do a git clone and then cd into the checked out repo.
function gcd() {
  REPONAME=$2
  if [[ -z $2 ]]; then
    REPONAME=$(node -e "console.log(process.argv[1].match(/.*?\/([a-zA-Z0-9\-]+).git/)[1]);" $1)
  fi
  git clone $1 $REPONAME && cd "${REPONAME}"
}

function mcd() {
  mkdir $1 && cd $1
}

# Make a tar.gz archive of a directory
#TODO: refactor so that being in the parent directory isn't required
function tgzdir() {
    tar -zcf "${1}.tar.gz" $1
}

function _ssh_completion() {
  perl -ne 'print "$1 " if /^Host (.+)$/' ~/.ssh/config
}
complete -W "$(_ssh_completion)" ssh

